* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

.sidebar {
    position: relative;

}

.card-numbers {
    position: absolute;
}

.card-numbers li {
    color: white;
    font-size: 1.1rem;
    display: flex;
    
}

.plan-form,
.pick-addons-form,
.summary-form,
.final-card {
    display: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}